.month {
    font-size: 2em;
    color: var(--color-4);
}

.payment-card {
    color: whitesmoke;
    background-color: #164B60;
    border-radius: 10px 50px 50px 10px;
    border: solid 2px #4FC0D0;
}

.switch {
    rotate: 90deg;
}

.opacity {
    opacity: 0.5;
}

.my-pagination{
    text-align: center;
    width: 100%;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous::before {
    padding-left: 0 !important;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: var(--color-3);
}

.my-pagination ::ng-deep .ngx-pagination li {
    color: whitesmoke;
    border-radius: 50%;
}