/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
    --color-1: #000000;
    --color-2: #3D0000;
    --color-3: #950101;
    --color-4: #FF0000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

i {
    cursor: pointer;
}

body {
    background-color: var(--color-1);
    /* background-color: #fff; */
}

label {
    color: whitesmoke;
}

.form-text {
    color: var(--color-4);
}

.alertDiv {
    width: 95%;
    position: absolute;
    top: 0;
    left: 0;
}

